body {
  background-color: wheat;
}
.order {
  display: none;
}

.jumbotron {
  text-align: center;
  background-image: url("../img/pizza.jpg");
  background-size: 100%;
  background-position: center;
  color: white;
}

#order-col, #selection-col {
  border: thin solid black;
  background-color: white;
  margin-bottom: 3%;
}

.equal {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  margin-bottom: 2%;
}