body {
  background-color: wheat;
}
.order {
  display: none;
}

.jumbotron {
  text-align: center;
  background-image: url("../img/pizza.jpg");
  background-size: 100%;
  background-position: center;
  color: white;
}

#pizza-selection, #order-display {
  border: thin solid black;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 3%;
}

#order-section {
  display: none;
  flex-wrap: wrap;
}


.btn {
  margin-bottom: 2%;
}